{% if site.curriculum == "dc-socsci" %}


<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>9:15 - 9:45</td>  <td>Introductions, pre-workshop survey </td> </tr>
      <tr> <td>9:45 - 10:30</td>  <td>Regular Expressions </td> </tr>
      <tr> <td>10:30 - 10:45</td>  <td>Coffee break </td> </tr>
      <tr> <td>10:45 - 12:30</td>  <td>Practising Regular Expressions </td> </tr>
      <tr> <td>12:30 - 13:00</td>  <td>Lunch </td> </tr>
      <tr> <td>13:00 - 14:00</td>  <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>14:00 - 14:15</td>  <td>Coffee break </td> </tr>
      <tr> <td>14:15 - 15:00</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td> </tr>
      <tr> <td>15:00 - 16:00</td>  <td>Streamlining real data: Aarhus Occupations 1801</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td> 9:15 - 10:30</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a> </td> </tr>
      <tr> <td>10:30 - 10:45</td>  <td>Coffee break </td> </tr>
      <tr> <td>10:45 - 12:30</td>  <td><a href="https://datacarpentry.org/r-socialsci/"> Starting with data </a> </td> </tr>
      <tr> <td>12:30 - 13:00</td>  <td>Lunch </td> </tr>
      <tr> <td>13:00 - 14:00</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Data wrangling in tidyverse</a> </td> </tr>
      <tr> <td>14:00 - 14:15</td>  <td>Coffee break </td> </tr>
      <tr> <td>14:15 - 16:00</td>   <td><a href="https://datacarpentry.org/r-socialsci/"> Continue to Wrangle and visualise data with ggplot</a> </td> </tr>
     </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td> 9:15 - 10:00</td>  <td> Introduction to different types of analysis for the following group work: </td> </tr>
      <tr> <td>10:00 - 12:30</td>  <td><a href="https://github.com/Digital-Methods-HASS/TextMiningStCroixAvis">Text mining with tidytext in R (with Max Odsbjerg)</a> </td> </tr>
      <tr> <td>10:00 - 12:30</td>  <td><a href="https://github.com/Digital-Methods-HASS/SentimentAnalysis">Sentiment Analysis in R</a></td></tr> 
      <tr> <td>10:00 - 12:30</td>  <td><a href="https://github.com/Digital-Methods-HASS/MapsWithLeaflet">Interactive maps in R</a></td></tr>
      <tr> <td>10:00 - 12:30</td>  <td><a href="https://github.com/Digital-Methods-HASS/WebscrapingPoliceKillings">Learn about Webscraping</a></td></tr>
      <tr> <td>10:00 - 16:00</td>  <td>Own project elaboration </td> </tr>
      <tr> <td>12:30 - 13:00</td>  <td>Lunch </td> </tr>
      <tr> <td>13:00 - 14:00</td>  <td>Introduction to APIs </td> </tr>
      <tr> <td>14:00 - 15:50</td>  <td>Own project elaboration </td> </tr>
      <tr> <td>15:50 - 16:00</td>  <td>Class wrap-up and post-workshop evaluation</td> </tr>
      </table>
  </div>

</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
